# ***Operators***

In [ ]:
#simple Operation
a = int(input('enter a: '))
b = int(input('enter b: '))
print('simple Operation:\n')
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a // b)
print(a % b)
print(b % a)
print()

#exponentioal
print(a ** b)
print(a ** 0)
print(0 ** a)
print(0 ** 0)

In [ ]:
#Precedence of operators
c = int(input('enter c: '))
d = int(input('enter d: '))
print(a + c * b + d)
print(a + c + b * d)
print(a * b / c + d)
print(a * b / c ** d)
print(a ** b ** c)
print()

#combinational Operation
a += 3
b /= 2
c *= 2
d //= 3 
print(a)
print(b)
print(c)
print(d)
a **= 1
print(a)

In [ ]:
#compiration Opoerating
print(2 == 3)
print(2 == 2)
print(43 != 32)
print(32 < 43)
print()

#logical Operating
print(4 > 3 and 5 > 2)
print(2 > 3 or 4 < 6)
print(not 4 < 3)
print(3 < 1 and (4 / 0) > 3)
#print(3 > 1 and (4 / 0) > 3)    ERROR
print(3 > 1 or (4 / 0) > 3)
#print(3 < 1 or (4 / 0) > 3)     ERROR

In [ ]:
#membership Operation 
x = [1,2,3,4,5]
print(3 in x)
print(7 in x)
print(not 7 in x)
print()

#betwise Operation
e = 13 
f = 34
print(bin(e))
print(bin(f))
print()
print(e | f)
print(e & f)
print(e ^ f)
print()

#shift Operation
# >> or << 
print(34 >> 1)
print(34 >> 2)
print(2 << 1)
print(2 << 4)

In [ ]:
# --- Operation on string ---
s1 = 'amirreza '
s2 = 'mehrabani'
print(s1 + s2)
print(s1 * 2)
print(s1 * 3)

s1 = 'amirreza'
s2 = 'amirreza'
print(id(s1))
print(id(s2))
print(id(s1) == id(s2))
s2 += ' mehrabni'
print(id(s1))
print(id(s2))
print(id(s1) == id(s2))